/*  your css code here. If applicable */
.btn{
	background-color:rgb(102,51,153);
	border:none;
	height:30px;
	border-radius:3px;
	padding:20px;
	display:flex;
	align-items:center;
	justify-content:center;
	color:white;
}
#buttons{
	display:flex;
	justify-content:center;
	gap:20px;
	align-items:center;
	height:100vh;
}
body{
	background-color:rgb(161,100,223);
}